.list {
    padding: 0;
}

.listItemWrapper{
    display: flex;
    flex-direction: row;
    /* @apply bg-white rounded-lg p-2; */
}

.listItemWrapper + .listItemWrapper {
    margin-top: 10px;
}

.listImageContainer {
    @apply bg-white rounded-lg;
    overflow: hidden;   
    background: grey;
    height: 150px;
    min-width: 50px;
    max-width: 200px;
}

.listImageContainer img {
    height: auto;
    width: 100%;
}

.image {
    width: 100%;
    height: auto;
}

.listItemContent {
    flex: 4;
    padding-left: 20px;
}